<table class="table table-striped table-hover table-bordered border-primary">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <% @friends.each do |friend| %>
    <tr>
      <td>
        <%= friend.first_name %>
      </td>
      <td>
        <%= friend.last_name %>
      </td>
      <td>
        <%= friend.email %>
      </td>
      <td>
        <%= friend.phone %>
      </td>
      <td>
        <%= friend.twitter %>
      </td>
      <td>
        <%= link_to "View", friend %>
      </td>
      <td>
        <%= link_to "Edit", edit_friend_path(friend) %>
      </td>
      <td>
        <%= link_to "Delete", @friend, method: :delete, class: "btn btn-outline-danger btn-sm" %>
      </td>
    </tr>

    <% end %>
  </tbody>
</table>
  

<%= link_to "New friend", new_friend_path, class:"btn btn-primary" %>
